# Ignore Mac system files
.DS_store
.gitignore
# Ignore node_modules folder
graphgym/
final_models/
data/reddb/processed/
data/zinc/
data/chembl/
data/omdb/
data/delaney/
data/qm9/
data/chembl/
test/
utils/	
*.txt
*.sdf
*.pt

# Igore all conf file
*.cfg

# Ignore files related to API keys
.env

# ignore pychache file
__pycache__/
*.py[cod]

*.egg-info/
.installed.cfg
*.egg
